a {
    text-decoration: none;
}

a:link{
    color:orange;
}

a:visited{
    color:steelblue;
}

a:hover{
    text-decoration: underline;
}

a:active {
    color:blueviolet;
}

a:focus {
    color: firebrick;
}

#p1{
    color:blue;
}

/*zmiany po kotwicy # */
#p1:target {
    color:green;
}
/*zmiany po selektorze lang*/
p:lang(pl) {
    font-style:italic;
    color:darkcyan;
}